

.main{
    background: rgb(240,183,131);
background: linear-gradient(180deg, rgba(240,183,131,1) 0%, rgba(210,161,116,1) 35%, rgba(227,154,87,1) 100%);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', 'sans-serif';
    overflow-x: hidden;
}



.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    height: 200px;
    width: 100%;
    border-radius: 0 0 25px 25px ;
    padding: 10px;
    background-color: #b5570069;
    position: relative;
}

.logo img {
    height: 150px;
}

.lang {
    position: absolute;
    right: 30px;
}

.lang img {
    height: 60px;
}

.lang img:first-child {
    margin-right: 15px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.content .title {
    font-size: 32px;
    padding: 8px 12px;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
}

.footer .icon {
    width: 48px;
    margin-right: 10px;
}

.footer .container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}



.address {
    font-size: 22px;
    margin: 10px 0 12px 0;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts a {
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
}

.contacts a:hover {
    color: antiquewhite;
}

.body section {
    display: flex;
    flex-direction: column;
    /*padding: 20px;*/
}

.body section .title {
    font-weight: 700;
}

.recipe-title {
    font-size: 20px;
    font-weight: 700;
}





@media only screen and (max-width: 600px) {
    .container-food img {
width: 90%;
    }
    .lang {
display: none;
    }
    .body section img {
        width: 50%;
    }

    .lang-body {
        margin: 20px 0;
    }

    .lang-body img {
        height: 60px;
    }
    
    .lang-body img:first-child {
        margin-right: 15px;
    }
    .address {
        font-size: 18px;
    }
    .footer .icon {
        width: 24px;
    }

    .contacts a {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .menu-item {
        flex-direction: column !important;
    }
    .menu-item img {
        width: 100% !important;
    }

    .desktop {
        display: none;
    }
    
  }



  @media only screen and (min-width: 601px) {

    .lang-body {
        display: none;
    }
    .locale-switcher {
        display: none;
    }
    .mobile {
        display: none;
    }
  }




